 	<div class="container">
	 	<div class="row top-header">
	 		<div class="col-xs-12 text-center">
	 			<h1>Welcome to ContextMedia Wifi Hotspot</h1>
	 		</div>
	 	</div>
	 	<div class="row col-xs-12 text-center instruction">
	 		<h3>Your wifi seesion will start after the video has played</h3>
	 	</div>

	 	<div class="row">
	 		<div class="col-xs-10 col-xs-offset-1">
		 		<div class="embed-responsive embed-responsive-16by9">
		 			<%= video_tag('out.mp4', controls: true, class: "embed-responsive-item") %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<a href="https://n136.network-auth.com/CM-testing-WiFi/hi/xDZ8Rabb/grant?continue_url=http://google.com/"><button type="button" class="btn btn-default btn-block btn-primary" disabled="disabled">GO</button></a>
			</div>
		</div>